/* Perfil */

.backPart{
  width:calc(100% - 10px);
  height:500px;
  background:#FFF;
  position:absolute;
  top:-500px;
}
.middleBar{
  width:calc(100vw - 525px);
  min-width:450px;
  left:240px;
  height:calc(100vh - 55px);
  position:absolute;
  overflow-y: overlay;
  z-index: 10;
}
.middleBar .profileWindow{
  background:#FFF;
  width:calc(100% - 10px);
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 0px 3px 0px #AAA;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 10px;

}
.middleBar .profileImage{
  height:80px;
  width:80px;
  border-radius: 50px;
  border:4px solid #FFF;
  box-shadow: 0px 0px 3px 0px #AAA;
  overflow: hidden;
}
.middle .fullname{
  font-size: 14px;
  font-weight: bold;
  letter-spacing: -1px;
  margin-top: 10px;
}
.middle .career{
  font-size: 12px;
  letter-spacing: -1px;
  margin-top: 6px;
  color:#777;
}
.middle .age{
  font-size: 11px;
  letter-spacing: -1px;
  margin-top: 6px;
  color:#999;
}
.middle .message{
  font-size: 11px;
  letter-spacing: 0px;
  margin-top: 10px;
  letter-spacing: 0px;
  color:#777;
}
.middle .follow{
  border-top: 1px solid #EEE;
  font-size: 12px;
  letter-spacing: 0px;
  margin-top: 10px;
  color:#3fa9f5;
  width:70%;
}
.middle .sa{
  display:inline-block;
  width:80px;
  margin-top: 5px;
}
.middle .sa .name{
  margin-top: 2px;
  font-size: 10px;
}
.middle .sa .number{
  font-size: 20px;
  font-weight: bold;
}
.profileImage img{
  height:80px;
}
.followOptions{
  text-align: left;
  padding:10px;
  height:100px;
  width:200px;
  font-size:12px;
  position:absolute;
  top:0;
}
.followOptions .followTitle{
  color:#3fa9f5;
  border-bottom: 1px solid #CCC;
  width:70px;
  font-weight:bold;
  font-size:11px;
}
.followOptions .option{
  margin-top:5px;
  font-size: 10px;
}
.followOptions .option span{
  color:#7ac943;
  margin-left: 3px;
}
.followOptions .preguntas{
  color:#ff931e;
}
.followOptions .publicaciones{
  color:#ff1d25;
}
.followOptions .eventos{
  color:#662d91;
}
.followOptions img{
  margin-top:9px;
  height:15px;
}
.rightOptions{
  text-align: right;
  position: absolute;
  right:10px;
  top:0;
  padding:10px;
  font-size: 10px;
}
.rightOptions img{
  height:10px;
  margin-left: 5px;
}
.rightOptions .ubicacion{
  color:#93278f;
}
.rightOptions .mensaje{
  margin-top: 5px;
  color:#7ac943;
}
.rightOptions .mensaje img{
  position:relative;
  height:6px;
  left:1px;
}

.middleBar .sections{
  background:#FFF;
  width:calc(100% - 15px);
  border-radius: 10px;
  box-shadow: 0px 0px 3px 0px #AAA;
  text-align: left;
  margin-top: 10px;
  padding-left: 2px;
  position:relative;
}
.middleBar .sections .04{

}
.middleBar .sections .section{
  display:inline-block;
  opacity:0.8;
  margin:5px;
  padding:5px;
  border-radius: 5px;
  cursor:pointer;
}
.middleBar .sections .section:hover{
  opacity:0.5;
}
.middleBar .sections .section img{
  height:23px;
}
.middleBar .photos{
  background:#FFF;
  max-width:calc(100% - 15px);
  border-radius: 10px;
  box-shadow: 0px 0px 3px 0px #AAA;
  margin-top: 10px;
  padding:7px;
  padding-right: 0;
}
.middleBar .photos .photo{
  display:inline-block;
  height:55px;
  width:55px;
  margin:7px;
  border:2px solid #FFF;
  box-shadow: 0px 0px 3px 0px #AAA;
  overflow: hidden;
}
.middleBar .photos .photo img{
  position:relative;
  height:100%;
}
.middleBar .sec.publications{
  max-width:calc(100% - 10px);
  margin-top: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}
.publications .publication{
  position: relative;
  border-bottom: 1px solid #EEE;
  background:#FFF;
  margin-bottom: 10px;
  border-radius: 10px;
  overflow: hidden;

}
.publications .top{
  width:100%;
  padding:10px;
  padding-bottom: 2px;
}
.publications .profImage{
  height:30px;
  width:30px;
  border:solid 2px #FFF;
  box-shadow: 0px 0px 2px 0px #AAA;
  border-radius: 8px;
  display: inline-block;
}
.publications .fullname{
  vertical-align: top;
  display: inline-block;
  font-weight: bold;
  letter-spacing: -0px;
  color:#555;
  margin-left: 5px;
  font-size: 14px;
}
.publications .date{
  position: absolute;
  top:30px;
  left:55px;
  color:#999;
  font-size: 10px;
  letter-spacing: -0px;
}
.publications .options{
  position: absolute;
  right:10px;
  height:15px;
}
.publications .content{
  padding-top: 10px;
  letter-spacing: -0px;
  font-size: 12px;
  margin-left: 20px;
  margin-bottom: 5px;
  margin-right: 50px;
  color:#555;
}
.publications .infoBar{
  position:relative;
  width:100%;
  border-top:1px solid #EEE;
  margin-top: 15px;
  font-size: 10px;
  color:#888;
  background:#FAFAFA;
}
.publications .infoBar .com{
  margin:9px;
  display: inline-block;
}
.publications .infoBar .gus{
  margin:9px;
  display: inline-block;
  margin-left: 15px;
}
.publications .attach{
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: left;
  margin-left: 20px;
  width:100%;
  position:relative;
}
.publications .imageAdded{
  max-width: calc(100% - 40px);
  max-height: 500px;
  border:5px solid #FFF;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 0px #AAA;
}
.newPost{
  background:#3fa9f5;
  border-radius:10px;
  padding:7px;
  color:#FFF;
  position: absolute;
  right:8px;
  top:7px;
  font-size:13px;
  text-align:center;
  padding-left: 10px;
  padding-right: 10px;
}
.postWindow{
  background:#FFF;
  border-radius: 10px;
  width:550px;
  height:200px;
  margin: 0 auto;
  margin-top:calc(50vh - 200px);
}
