/* Usuarios */

.backPart{
  width:calc(100% - 10px);
  height:500px;
  background:#FFF;
  position:absolute;
  z-index: 10;
  top:-500px;
}

#primero{
    width: 100%;
    background-color: #FFFFFF;
    border-radius:15px;
    padding-top:1px;
    font-family: 'Work Sans', sans-serif;

}

.primerouno{
    height: 20px;
}

.primerouno p{
    padding-top: 10px;
}

.primerodos{
   padding:10px;
   text-align: center;
   width: 100%;

}

.primerodos input[type=text] {
    width: 400px;
    border: 2px solid #ccc;
    border-radius: 15px;
    font-size: 16px;
    background-color: white;
    background-image: url('./img/menu/lupa.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.primerodos input[type=text]:hover {
    font-weight: bold;
    cursor: pointer;
}

.primerodos input[type=submit] {
      width: 200px;
      background: #34d94d;
      background-image: -webkit-linear-gradient(top, #34d94d, #2bb840);
      background-image: -moz-linear-gradient(top, #34d94d, #2bb840);
      background-image: -ms-linear-gradient(top, #34d94d, #2bb840);
      background-image: -o-linear-gradient(top, #34d94d, #2bb840);
      background-image: linear-gradient(to bottom, #34d94d, #2bb840);
      -webkit-border-radius: 31;
      -moz-border-radius: 31;
      border-radius: 20px;
      font-family: Arial;
      color: #ffffff;
      font-size: 24px;
      padding: 10px 20px 10px 20px;
      text-decoration: none;
      border-style: none;
}

.primerodos input[type=submit]:hover {
      cursor: pointer;
      opacity: 0.9;
      text-decoration: none;
      border-style: none;
}

#linea{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    width:100%;
}
.selalumnos{
    height:50px;
    width:150px;
    border-radius:15px;
    display: inline-block;
    color:grey;
}

.selalumnos:hover{
    color:black;
}
.carrerauno {
    background-color:#00C957;
    position: relative;
    display: inline-block;
    height: 120px;
    width: 200px;
    border-radius: 30px;
    margin-left: 5px;
    margin-top: 5px;
    text-align: center;
    -webkit-box-shadow: inset -13px 9px 79px -29px rgba(0,0,0,0.75);
    -moz-box-shadow: inset -13px 9px 79px -29px rgba(0,0,0,0.75);
    box-shadow: inset -13px 9px 79px -29px rgba(0,0,0,0.75);
}
.carrerauno p{
    position: relative;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    padding-top:5px;
}

.carrerauno a{
    text-decoration: none;
}

.carrerauno a:hover{
    opacity:0.7;
}

#busqueda{
    position: relative;
}

#busqueda img{
    position: absolute;
    display: inline-block;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    height: 25px;
    width: 25px;
}

#btnest{
    position: relative;
}

#btnest img{
    position: absolute;
    display: inline-block;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    height: 25px;
    width: 25px;
}

#separador{
    width: 150px;
}

#separadordos{
    width: 350px;
}

#tablas{
    height:25px;
}


.estudiantes a{
    text-decoration: none;
    color:#33cc33;/*#3fa9f5;*/
}
.estudiantes a:hover{
    opacity: 0.7;
}

.estudiantes table{
  background-color: #FFFFFF;/*#C7FFA8;*/
  width:100%;
   
}

.estudiantes th{
  text-align:left; 
  width:70%;
  font-size: 20px;
  padding-bottom: 7px;
}