/* Usuarios */

#primero{
    height: 100%;
    width: 100%;
    background-color: #075608;
        border-radius:15px;
        padding-top:1px;
        overflow: scroll;
    /*font-family:  sans-serif;*/

}

.primerouno{
    width: 70%;
    height: 50px;
    text-align: center;
    background-color:#43F96D;
    color: white;
    margin: auto;
    line-height: 30px;
    font-weight: bold;
        border-radius:25px;
        font-size: 25px;
           

}

.primerouno p{
    padding-top: 10px;
}

.primerodos{
   padding:10px;
   text-align: center;
   width: 100%;

}

.primerodos input[type=text] {
    width: 400px;
    
    border: 2px solid #ccc;
    border-radius: 15px;
    font-size: 16px;
    background-color: white;
    background-image: url('./img/menu/lupa.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}


/*
::-webkit-input-placeholder { 
        color:    #000;
}
:-moz-placeholder { 
       color:    #000;
       opacity:  1;
}
::-moz-placeholder { 
       color:    #000;
       opacity:  1;
}
:-ms-input-placeholder { 
       color:    #000;
}
*/


.primerodos input[type=text]:hover {
    font-weight: bold;
    cursor: pointer;
}

.primerodos input[type=submit] {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius:15px;
    width: 200px;
}

.primerodos input[type=submit]:hover {
    background-color: #039706;
    cursor: pointer;
    font-weight: bold;
}
#linea{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    width:95%;
}
.selalumnos{
    height:50px;
    width:150px;
    border-radius:5px;
    display: inline-block;
}
.carrerauno {
    background-color:#00C957;
    position: relative;
    display: inline-block;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    margin-left: 5px;
    margin-top: 5px;
    text-align: center;
    -webkit-box-shadow: inset -13px 9px 79px -29px rgba(0,0,0,0.75);
    -moz-box-shadow: inset -13px 9px 79px -29px rgba(0,0,0,0.75);
    box-shadow: inset -13px 9px 79px -29px rgba(0,0,0,0.75);
}

.carrerauno p{
    position: relative;
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
    padding-top:15px;
}

.carrerauno a:hover{
    color:red;
}

#busqueda{
    position: relative;
}

#busqueda img{
    position: absolute;
    display: inline-block;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    height: 25px;
    width: 25px;
}