/*    --------------------------------------------------
    :: body
    -------------------------------------------------- */

body{
    background: url(http://i.imgur.com/ujoVJOm.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
#cont{
    color: white;
    border-radius: 5px;
    background-color: none;
    padding-left: 10px;
    padding-right: 10px;
    
}

#cont a{
    color: white;
    font-weight: bold;
}


#vertical{
    top:100%;
    left: 94%;
    position: relative;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.fondo{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.5;
}

/*    --------------------------------------------------
	:: Seccion del Login
	-------------------------------------------------- */

#login .form-wrap {
    width: 35%;
    margin: 0 auto;
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: none;
    border-radius: 5px;
}
#login img {
    padding-bottom: 20px;
}
#login .form-group {
    margin-bottom: 25px;
}
#login .checkbox {
    margin-bottom: 20px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
#login .checkbox.show:before {
    content: '\e013';
    color: #1fa67b;
    font-size: 17px;
    margin: 1px 0 0 3px;
    position: absolute;
    pointer-events: none;
    font-family: 'Glyphicons Halflings';
}
#login .checkbox .character-checkbox {
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #ccc;
    vertical-align: middle;
    display: inline-block;
}
#login .checkbox .label {
    color: white;
    font-weight: bold;
    font-size: 13px;
}
#login .btn.btn-custom {
    font-size: 14px;
	margin-bottom: 20px;
}
#login .forget {
    font-size: 13px;
	text-align: center;
	display: block;
}

#login #btn-reg{
    background-color: #29abe2;
}


/*    --------------------------------------------------
	:: Inputs y Botones
	-------------------------------------------------- */
.form-control {
    color: #212121;
}
.btn-custom {
    color: #fff;
	background-color: #29088A;
}
.btn-custom:hover,
.btn-custom:focus {
    color: #fff;
}

select{
    width: 265px;
    border-radius: 5px;
    color:grey;
    padding: 7px;
}

/*    --------------------------------------------------
    :: Seccion del Footer
	-------------------------------------------------- */
#footer {
    color: white;
    font-size: 12px;
    text-align: center;
     border-radius: 5px;

}
#footer p {
    margin-bottom: 0;
    width: 35%;
    margin: 0 auto;
   
}

#footer a {
    color: white;
}